server:
  port: ${SERVER_PORT:8888}
  servlet:
    context-path: /cloud_service
spring:
  liquibase:
    change-log: classpath:liquibase/changelog-master.yaml
  datasource:
    url: ${DATASOURCE_URL:jdbc:postgresql://localhost:5432/cloud_service}
    password: ${DATASOURCE_PASS:q1w2e3r4}
    username: ${DATASOURCE_USER:postgres}
  jpa:
    show-sql: true
cors:
  mapping: ${CORS_MAPPING:/**}
  origins: ${CORS_ORIGINS:http://localhost:8080/, http://192.168.50.199:8080/}
  methods: ${CORS_METHODS:POST, DELETE, GET, PUT}
  headers: ${CORS_HEADERS:*}